     h1 {
                color:teal;
            }
            p {
                color:gray;
                font-size:25px;
            }
            
            .btn{
                padding:15px;
                font-size:20px;
                color:white;
                border-radius:10px;
                margin:15px;
            }
            #add-exp{
                background-color:green;
            }
            #del-exp{
                background-color:red;
            }
            div{
                background-color:lightsteelblue;
                max-width:400px;
                margin:0 auto;
                padding:20px;

            }