h1{
    color:greenyellow;
}
div{
    background-color:teal;
    max-width:400px;
    margin: 0px auto;
    padding:20px;
    border-radius:10px;
}
#add-btn{
    border-radius:10px;
    background-color:green;
    color:white;
    padding:15px;
    margin:10px;
}
#amount{
    padding:10px;
    margin:10px;
}
#category{
    padding:10px;
    margin:10px;
}
.delete-btn{
    background-color:red;
    color:white;
    border-radius:10px;
    margin-left: 10px;
    padding: 5px 10px;
}